.page-section{
    padding: 1rem;

    @mixin atMedium {
    padding: 1rem 0 5rem 0;
    }

    &--blue{
        background-color: $mainBlueDark;
        color: $mainWhite;
    }

    &--testimonials{
        background: url('assets/img/testimonials-bg.jpg') top center / cover no-repeat;
        
      
    }
}