.section-title{
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;

    @mixin atSmall{
        font-size: 3rem;
    }

    &--align-left{
        text-align: left;
    }

    &--white--toggle{
        color: $mainBlueDark;
               
        @mixin atMedium{
        color: $mainWhite;
        text-shadow: 1px 1.5px 0 rgb(0 0 0);
                }
    }
}

